/*-----BACKGROUND-ANIMATION-----*/
body {
    overflow-x: hidden;
    padding: 24px 10vw 48px 10vw;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1.title {
    font-family:'Ubuntu Mono', monospace;
}

span.green {
    font-family: 'Permanent Marker', cursive;
    color: rgb(106, 176, 76);
    margin-left: 3px;
}

span.green-2 {
    font-family: 'Permanent Marker', cursive;
    color: rgb(186, 220, 88);
}



/*-----FOOTER-----*/
footer {
    position: absolute;
    width: 80%;
    left: 0 ; right: 0; bottom: 0;
    height: 48px;
    /*justify-content: center;*/
    font-family: 'Inter', 'sans-serif';
    font-size: 14px;
    padding: 0 10%;
    background: rgba(255,255,255,.1);
}

div.footer {
    margin-top: 15px;
}

ul.footer {
    list-style: none;
    display: inline;
    padding: 0;
}

li.footer {
    display: inline;
}

li.r {
    float: right;
    margin-left: 24px;
}

p.footer {
    color: rgb(19, 15, 64);
    display: inline;
    transition: .3s;
}

p.footer:hover {
    color: rgb(249, 202, 36);
}

a.footer {
    color: rgb(19, 15, 64);
    text-decoration: none;
    transition: .3s;
}

a.footer:hover {
    color: rgb(186, 220, 88);
}